<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="web.css">
    <title>A Rough, Transparent, Draft of my Thesis :: Matt Marshall</title>
  </head>
  <body>
    <div id="header">

    <h1>A Rough, Transparent, Draft of my Thesis</h1>
    <h2 class="author">Matt Marshall</h2>

    </div>

    <h2>Last Updated <span id="last_updated_date">INSERT DATE</span></h2>
    <div id="git_logs">

    </div>

    <div class="download-links">
      <p class="centre margins"> <a class="pure-button pure-button-primary" href="thesis.html"><i class="fab fa-html5"></i> Read Online</a> <a class="pure-button pure-button-primary" href="thesis.docx"><i class="fas fa-file-word"></i> Download</a> </p>
    </div>

  </body>
</html>
