body {
  margin: 12em;
  font-size: 16pt;
}

.centre {
  text-align: center;
}

.margins {
  margin-top: 5em;
  margin-bottom: 5em;
}

#header {
  text-align: center;
}

#header h1 {
  margin-bottom: 1em;
}

h1 {
text-align: center;
margin-top: 3em;
margin-bottom: 3em;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-style: solid;
}

td, th {
  padding: 1em;
  border: 1px solid;
  }


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding-left: 0.5em 10px;
}

code {
  background: #ECECEC;
  color: #D24D27;
  padding: 0.1em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

p.caption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;

}
